<h1>Edit Restaurant</h1>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Well Done!</strong> Your data has been updated successfully.
  <button (click)="closeAlert()" type="button" class="close btn btn-success" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="editRetro" (ngSubmit)="collection()">
  <div class="form-group mt-2">
    <label class="mt-2">Name</label>
    <input type="text" class="form-control mt-2" placeholder="Enter Name" formControlName="name">
  </div>
  <div class="form-group mt-2">
    <label class="mt-2">Email</label>
    <input type="text" class="form-control mt-2" placeholder="Enter Email" formControlName="email">
  </div>
  <div class="form-group mt-2">
    <label class="mt-2">Address</label>
    <input type="text" class="form-control mt-2" placeholder="Enter Address" formControlName="address">
  </div>
  <button type="submit" class="btn btn-primary mt-2">Update</button>
</form>